<!-- START OF SmartSource Data Collector TAG v10.4.23 -->
<!-- Copyright (c) 2018 Webtrends Inc.  All rights reserved. -->

if (typeof webtrends === "object" && webtrends.track_stats)
  script(async)
    |  window.webtrendsAsyncInit=function(){
    |      var dcs=new Webtrends.dcs().init({
    |          dcsid:"dcs222656s2vg121fdf62uqq9_8q4i",
    |          domain:"statse.webtrendslive.com",
    |          timezone:-5,
    |          fpcdom:".createcard.ocls.info",
    |          plugins:{
    |          }
    |          }).track();
    |  };
    |  (function(){
    |      var s=document.createElement("script"); s.async=true; s.src="/js/lib/webtrends/webtrends.min.js";    
    |      var s2=document.getElementsByTagName("script")[0]; s2.parentNode.insertBefore(s,s2);
    |  }());

  noscript
    img(
      alt="dcsimg"
      id="dcsimg"
      width="1"
      height="1"
      src="//statse.webtrendslive.com/dcs222656s2vg121fdf62uqq9_8q4i/njs.gif?dcsuri=/nojavascript&amp;WT.js=No&amp;WT.tv=10.4.23&amp;dcssip=www.createcard.ocls.info"
    )

  <!-- END OF SmartSource Data Collector TAG v10.4.23 -->
